@charset "utf-8";

@import url(general.css);

/*-------------------------------------needs to be placed in general--------------------------------------*/
.error {
    color: brown;
}

.succes {
    color: green;
}


body::-webkit-scrollbar {
    width: 0.3vw;
    border: none;
}

body::-webkit-scrollbar-track {
    background: transparent;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: var(--color-two);
    border-radius: 20px;
    border: transparent;
}

/*-------------------------------------start navigation--------------------------------------*/

/*-------------------------------------start navigation--------------------------------------*/
header {
    width: 100%;
    height: fit-content;
    position: fixed;
    z-index: 2;
}

.logospace {
    font-size: 1.5rem;
    font-family: var(--font-nav);
    color: var(--general-font-color);
    margin: auto auto auto 0;
    transition: 0.3s ease-in-out;
    visibility: hidden;
}

.navbar {
    display: flex;
    width: 100%;
    height: fit-content;

    padding: 3% 3% 3% 3%;
    margin-top: 0;
    margin-bottom: auto;
    justify-self: center;

    transition: 0.3s ease-in-out;
}

.hamburger {
    display: block;
    width: 31px;
    height: fit-content;
}

.sm-bar {
    width: 30%;
}

.mid-bar {
    width: 70%;
}

.lg-bar {
    width: 100%;
}

.sm-bar,
.mid-bar,
.lg-bar {
    display: block;
    height: 2px;
    margin: 3px auto;
    background-color: var(--general-font-color);
    transition: 0.3s ease-in-out;
}

.hamburger.active .sm-bar,
.hamburger.active .mid-bar {
    opacity: 0;
}

.hamburger.active .rotatePos {
    transform: translateY(5px) rotate(45deg);
}

.hamburger.active .rotateNeg {
    transform: translateY(-5px) rotate(-45deg);
}

.nav-menu {
    position: fixed;
    left: 100%;
    top: 57px;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s ease-in-out;
    background-color: var(--subheader-color);
}

.nav-item {
    padding: 0.5rem;
    border-bottom: 1px solid var(--general-font-color);
}

.logospace.active {
    visibility: visible;
}

.navbar.active {
    background-color: var(--subheader-color);
}

.nav-menu.active {
    left: 0;
}

.nav-link {
    width: fit-content;
    font-size: 1.5rem;
    font-family: var(--font-nav);
    font-weight: lighter;

    text-align: center;
    color: var(--general-font-color);
}


/*for big screens*/
@media screen and (min-width: 900px) {
    .logospace {
        visibility: visible;
        margin-right: 4rem;
    }

    #burgermenu {
        display: none;
    }

    .nav-menu {
        position: inherit;
        left: 0;
        flex-direction: row;
        width: 100%;
        margin: auto auto auto 0;
        background: transparent;
    }

    .nav-item {
        border-bottom: none;
    }

    /*-> first 3 in row nav*/
    .nav-item:nth-child(-n + 2) {
        margin-left: 1rem;

        padding-right: 1rem;

        border-right: solid 1px var(--general-font-color);
    }

    .nav-item:nth-child(3) {
        margin-left: 1rem;
    }

    /*-> last 2 in row nav*/
    .nav-item:nth-last-child(-n + 2) {
        margin-left: auto;
    }

    .nav-item:nth-last-child(-n + 1) {
        margin-left: 1rem;
        padding-left: 1rem;

        border-left: solid 1px var(--general-font-color);
    }
}

/*-------------------------------------end navigation--------------------------------------*/

/*-------------------------------------start main--------------------------------------*/
main {
    width: 100%;
    height: 100%;
}

/*-------------------------------------end main--------------------------------------*/
#home {
    height: 100vh;
    height: 100svh;
    padding: 10% 6% 3% 6%;
}

/*-------------------------------------start home--------------------------------------*/
/*->Socialmedia bar*/
.socials .glass {
    border-width: 2px;
}

.socials {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: fit-content;

    padding: 0.25rem;

    /*rounding the frame*/
    border-radius: 50px;
    display: none;
}

/*->li*/
.socials li {
    width: fit-content;
    margin: auto auto auto 1%;
    padding: 0.75rem;
}

.socials :first-child {
    margin: auto auto auto 0;
}

/*->last icon*/
.socials li:last-child {
    border-left: dotted 3px var(--general-font-color);
    margin: auto 0 auto auto;
}

/*->icons*/
.icons {
    width: 2rem;
}

@media screen and (min-width: 900px) {
    .socials {
        display: flex;
        flex-direction: column;
        width: fit-content;

        padding: 0.25rem;

        /*rounding the frame*/
        border-radius: 50px;
        margin: auto;
        margin-left: 0;
    }

    .socials li:first-child {
        margin-top: 1rem;
    }

    /*->3th icons*/
    .socials li:nth-child(3) {
        margin: auto auto 17rem auto;
    }

    /*->last icon*/
    .socials li:last-child {
        margin: auto auto 1rem auto;

        padding-top: 1.5rem;

        border-top: dotted 3px var(--general-font-color);
        border-left: none;
    }
}

/*->openingContainer*/
.openingContainer {
    width: fit-content;
    height: fit-content;
    margin: auto 0 32% auto;

    @media screen and (min-width: 900px) {
        margin: auto 0 auto auto;
    }
}

.openingContainer h1 {
    font-weight: 500;
}

/*->name*/
#name {
    width: fit-content;
    text-align: right;
    color: var(--general-font-color);
    font-size: 1.5rem;
    font-family: var(--font-nav);
    font-weight: lighter;
    margin: auto 0 2rem auto;
}

/*-------------------------------------end home--------------------------------------*/

/*-------------------------------------start about--------------------------------------*/

#about {
    scroll-snap-align: center;
}

#about .content-container {
    border-left: none;
    border-right: none;
}

#about h1 {
    font-size: 2rem;
    text-align: left;
    margin-bottom: 3rem;
    font-size: var(--size-sm-header)
}

#about h2 {
    margin-top: 0;
    margin-bottom: 3rem;
}

.about-txt {
    width: 100%;

    @media screen and (min-width: 900px) {
        width: 45%;
        margin: auto;
    }
}

.about-txt p {
    text-align: left;
    width: 100%;
}

.about-txt:nth-child(2) {
    margin-top: 3rem;
}

#illustration {
    width: 100%;

    @media screen and (min-width: 900px) {
        width: 45%;
        margin: auto;
    }
}

/*-------------------------------------end about--------------------------------------*/

/*-------------------------------------start skills--------------------------------------*/

#skills h2 {
    width: fit-content;
    margin-top: 0;
    margin-bottom: 3rem;
    padding-bottom: 1.5rem;
}

.skills-txt {
    width: 95%;
    margin: auto;
    height: fit-content;
    text-align: center;
}

#skills {
    scroll-snap-align: center;
}

#skills h1 {
    font-size: 2rem;
    text-align: left;
    margin-bottom: 3rem;
    font-size: var(--size-sm-header)
}

#skill-set {
    padding: 0;
    margin: none;
    height: fit-content;
}


.list {
    width: 100%;
    height: fit-content;
    margin: auto;
    color: var(--general-font-color);
    margin: 0 auto auto auto;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 3rem;
    border: solid 1px var(--accent-color-pink);

    @media screen and (min-width: 900px) {
        display: block;
        width: 25%;
        height: 291px;
    }
}

.list ul {
    margin: auto;
}

.list li {
    text-align: left;
    font-family: var(--font-q);
    letter-spacing: 0.15rem;
    position: relative;
    margin-bottom: 0.5rem;
}

.list-text {
    height: fit-content;
    width: fit-content;
    top: 6px;
    left: 40px;
    position: absolute;
}

.list h3 {
    font-family: var(--font-nav);
    color: var(--accent-color-pink);
    margin-top: 0;
    margin-bottom: 1rem;
}

.skill-icon {
    height: 25px;
}


/*-------------------------------------end skills--------------------------------------*/

/*-------------------------------------start projects--------------------------------------*/

#projects {
    scroll-snap-align: center;
    height: fit-content;
}

.project-img {
    display: block;
    width: 100%;
    background-image: linear-gradient(-45deg, #26293686, transparent),
        var(--projectImg);
    background-size: cover;
    background-position: center;

    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

    @media screen and (min-width: 900px) {
        width: 60%;
        border-right: 1px solid inherit;

        border-top-right-radius: 0;
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
        margin: 0 auto 0 0;
        position: relative;
        overflow: hidden;
    }
}

.spells::before {
    content: '';
    height: 100%;
    width: 100%;
    background-image: url("../pictures/SON_thumbnail.png");
    background-size: cover;
    background-position: center;

    position: absolute;
    top: 0;
    left:0;
}

#projects h1 {
    font-size: 2rem;
    text-align: left;
    margin-bottom: 3rem;
    font-size: var(--size-sm-header);
}

.project-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    margin: 2rem auto 4rem auto;
    position: relative;

    @media screen and (min-width: 900px) {
        flex-direction: row;
        height: 165px;
        margin: 1rem auto 1rem auto;
    }
}

.projects-txt {
    width: 95%;
    height: 100%;
    margin: auto;

    @media screen and (min-width: 900px) {
        width: 95%;
        margin: auto;
    }
}

.project-description {
    width: 100%;
    height: 100%;
    background-color: transparent;
    margin: auto;
    padding: 0.75rem;

    color: rgba(255, 255, 255, 0.836);

    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;

    @media screen and (min-width: 900px) {
        width: 40%;
        margin: 0 auto 0 auto;
    }
}

.project-description p {
    font-size: 0.55rem;
    margin: auto auto 0.5rem auto;
}


.project-block a {
    position: relative;
    display: inline-block;
    width: 95%;
    height: fit-content;
    margin: auto auto 1rem auto;
    padding: 0.5rem;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.836);
    color: rgba(255, 255, 255, 0.836);
    font-family: var(--font-q);
    border-radius: 50px;
    font-size: 1rem;
    transition: 0.5s ease;
    overflow: hidden;

    @media screen and (min-width: 900px) {
        width: 20%;
        margin: auto 1rem auto auto;
    }
}

.project-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    -webkit-transform: skewX(45deg) translateX(500px);
    transform: skewX(45deg) translateX(500px);
    transition: 1s ease-out;
}

.project-btn:hover::before {
    -webkit-transform: skewX(45deg) translateX(-500px);
    transform: skewX(45deg) translateX(-500px)
}

.project-btn:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.btn-arrow {
    width: 10px;
    height: 10px;
    margin: auto auto auto 2rem;
}

.btn-arrow {
    color: rgba(255, 255, 255, 0.836);
}

#projects .project-description h1 {
    font-family: var(--font-nav);
    font-size: 1.5rem;
    color: inherit;
    margin-bottom: 1rem;
}

.usedInProduction {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100%;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: 0;
    border-top-right-radius: 10px;
    @media screen and (min-width: 900px) {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
    }

}

.usedInProduction li {
    margin: auto;
}


.usedInProduction {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100%;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: 0;
    border-top-right-radius: 10px;
    @media screen and (min-width: 900px) {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
    }

}

.usedInProduction li {
    margin: auto;
}


/*-------------------------------------end projects--------------------------------------*/

/*-------------------------------------start illustrations--------------------------------------*/

.illustrations-txt {
    width: 95%;
    height: fit-content;
    margin: auto;
}

#illustrations h1 {
    width: 100%;
    font-size: 2rem;
    text-align: left;
    margin-bottom: 3rem;
    font-size: var(--size-sm-header)
}

.card-set {
    width: 100%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 900px) {
        flex-direction: row;
    }
}

.card-fan {
    width: 100%;
    height: 350px;
    display: block;
    position: relative;
}

.card {
    width: 100%;
    /*height: auto;*/
    height: 350px;
    display: block;
    border-radius: 20px;
    position: absolute;
    z-index: -1;
    transform-origin: center 400px;
    transition: all 0.5s linear;
}

.card-fan :first-child {
    transform: rotate(5deg);
}

.card-fan :nth-child(3) {
    transform: rotate(-5deg);
}

.card-fan:hover :first-child {
    transform: rotate(10deg);
}

.card-fan:hover :nth-child(3) {
    transform: rotate(-10deg);
}

.card-link-combo {
    width: 100%;
    height: fit-content;
    width: 70%;
    margin: auto auto 4rem auto;

    @media screen and (min-width: 900px) {
        width: 20%;
        margin: auto;
    }
}

.card-link-combo a {
    width: max-content;
    height: fit-content;
    display: inline-block;
    font-size: var(--size-sm-header);
    color: var(--general-font-color);
    text-align: left;
    font-family: var(--font-nav);
    margin: 2rem auto 2rem auto;
    position: relative;
}

.card-link-combo a::before,
.card-link-combo a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card-link-combo a::before {
    background-color: var(--alternative-bg-color);
}

.card-link-combo:hover :nth-child(2)::after {
    width: 0.175rem;
    background: var(--general-font-color);
    animation: typewriter 4s steps(15) 1s forwards,
        blink 750ms steps(17) infinite;
}

.card-link-combo:hover :nth-child(2)::before {
    animation: typewriter 4s steps(15) 1s forwards;
}

.arrow-link {
    height: 10px;
    width: 10px;
    margin: auto auto 0.18rem auto;
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}



#card1 {
    background-color: aqua;
}

#card2 {
    background-color: blueviolet;
}

#card3 {
    background-color: brown;
}

#card4 {
    background-color: yellow;
}

#card5 {
    background-color: yellowgreen;
}

#card6 {
    background-color: green;
}

#card7 {
    background-color: orange;
}

#card8 {
    background-color: orangered;
}

#card9 {
    background-color: olivedrab;
}

/*-------------------------------------end illustrations--------------------------------------*/

/*-------------------------------------start contact--------------------------------------*/

#contact {
    scroll-snap-align: center;
}

.form-section {
    width: 100%;
    margin: auto;
}

#contact {
    margin-bottom: 0;
}

#contact h1 {
    font-size: 2rem;
    text-align: left;
    margin-bottom: 3rem;
    font-size: var(--size-sm-header);
}

#contact h2 {
    margin-top: 0;
    margin-bottom: 3rem;
}

fieldset {
    border: none;
    width: 100%;
    height: fit-content;
}

input {
    height: 35px;
}

textarea {
    height: 100px;
    resize: none;
}

.send-button {
    width: 50%;
    height: 50px;
    margin: 2rem 0 2rem auto;
    border-radius: 50px;
    border: none;
    background-color: var(--accent-color-pink);
    font-family: var(--font-h);
    color: var(--general-font-color);
    font-size: var(--size-sm-header);

}

.more-info {
    width: 100%;
    height: fit-content;
    margin: auto;
    padding: var(--padding-txt);
    border-color: var(--accent-color-pink);
    border-radius: 50px;

    color: var(--accent-color-pink);
}

.more-info h3 {
    font-family: var(--font-nav);
    font-size: var(--size-sm-header);
}

.more-info p {
    font-size: var(--size-sm-txt);
    color: var(--accent-color-pink);
}

.more-info ul {
    font-family: var(--font-p);
    font-size: var(--size-sm-txt);

}

.more-info li {
    margin-bottom: 1rem;
}


@media screen and (min-width: 900px) {

    .form-section {
        width: 45%;
    }

    .more-info {
        width: 45%;
    }

    .form-section h1 {
        text-align: left;
    }

    .form-section h2 {
        margin: 4rem auto 4rem auto;
    }
}

/*-------------------------------------end contact--------------------------------------*/

/*-------------------------------------start footer--------------------------------------*/
footer a:visited {
    font-family: inherit;
    color: inherit;
}

footer {
    width: 100%;
    height: fit-content;
    padding: 3%;
    color: var(--subheader-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer h3 {
    font-size: var(--size-mini-header);
    width: fit-content;
    margin: auto auto 2rem auto;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--subheader-color);
}

footer a {
    color: var(--subheader-color);
}

#footerlist1,
#footerlist2,
#footerlist3,
#footerlist4 {
    padding: var(--padding-txt);
    font-size: 1.2rem;
    font-family: var(--font-q);
}

#footerlist1 {
    margin: 0 auto auto 0;
}

#footerlist2 {
    margin: 0 0 auto auto;
}

#footerlist3,
#footerlist4 {
    width: 100%;
    margin: auto auto auto auto;
    text-align: center;
}

footer li {
    margin: auto auto 1rem auto;
}

/*for big screens*/
@media screen and (min-width: 900px) {

    #footerlist1,
    #footerlist2,
    #footerlist3,
    #footerlist4 {
        width: 25%;
        margin: 0 auto auto auto;
    }
}

/*-------------------------------------end footer--------------------------------------*/